<GridLayout class="fixed-bottom" height="60" verticalAlignment="bottom">
	<GridLayout columns="*, *," height="60" backgroundColor="#0D0D12">
		<GridLayout #tabHighlight col="0" backgroundColor="#F8A200"></GridLayout>
		<GridLayout col="0" (tap)="selectTab(0)">
			<Image #image1 src="font://&#xf015;" color="white" class="fas" height="23" width="23"></Image>
		</GridLayout>
		<GridLayout col="1" (tap)="selectTab(1)">
			<Image #image2 src="font://&#xf005;" color="white" class="fas" height="23" width="23"></Image>
		</GridLayout>
	</GridLayout>
</GridLayout>