<ActionBar title="Details"></ActionBar>

<FlexboxLayout flexDirection="column">
    <FlexboxLayout class="m-15">
    </FlexboxLayout>
    <StackLayout class="home-panel">
        <WebImage  class="image-list" [src]="item.image">
        </WebImage>
        
        <Label class="h3 m-15" [text]="item.description"></Label>
        <StackLayout class="home-panel">
            <Progress *ngIf="isBusy == false" [value]="progress" ></Progress>
            <ActivityIndicator *ngIf="isBusy == true" width="300" height="100"[busy]="isBusy" color="orange" (busyChange)="onBusyChanged($event)"></ActivityIndicator>
            <Button *ngIf="isBusy == false" class="button-player" [text]="isPlaying ? 'Pause' : 'Play'" (tap)="playPause()" ></Button>
            <button *ngIf="isBusy == false"  class="button-player" text="Refresh" (tap)="resume()"></button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
