<ActionBar title="Details"></ActionBar>

<FlexboxLayout flexDirection="column">
    <FlexboxLayout class="m-15">
    </FlexboxLayout>
    <StackLayout class="home-panel">
        
        <Image width="50%" loadMode="async" [src]="item.image"></Image>
        <Label class="h3 m-15" [text]="item.description"></Label>
        <StackLayout class="home-panel">
            <Progress [value]="progress" ></Progress>
            <Button class="button-player" [text]="isPlaying ? 'Pause' : 'Play'" (tap)="playPause()" ></Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
